@using PhPopovich.Models
@inject Context DbContext
@model PhPopovich.ViewModels.Contacts.ContactsPageViewModel

@{
    Layout = "_Layout";
}

<div class="about-us" id="about-us">
    <div class="container">
        <h3 class="title">About us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis vel sem posuere imperdiet. Fusce varius nunc lectus, eget auctor metus maximus ac. Nullam lobortis enim eget quam iaculis, in malesuada diam convallis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam nulla sem, scelerisque in bibendum ac, sollicitudin ac diam. Maecenas in pharetra lectus, ut ultrices lacus. Pellentesque in sem nunc. Vestibulum gravida nunc bibendum leo aliquam, ac dignissim orci vehicula. Aenean posuere euismod tellus, ut tempus orci cursus at. Nullam magna neque, feugiat ut ipsum eget, convallis posuere quam.</p>
    </div>
</div>

<div class="gallery-wrap">
    <div class="container">
        <div class="img-wrap">
            <figure>
                <img src="/img/1.jpg" alt="img">
                <figcaption><a href="#"><span>Lorem ipsum</span></a></figcaption>
            </figure>
            <figure>
                <img src="/img/2.jpg" alt="img">
                <figcaption><a href="#"><span>Lorem ipsum</span></a></figcaption>
            </figure>
        </div>
        <div class="img-wrap">
            <figure>
                <img src="/img/3.jpg" alt="img">
                <figcaption><a href="#"><span>Lorem ipsum</span></a></figcaption>
            </figure>
        </div>
        <div class="img-wrap">
            <figure>
                <img src="/img/4.jpg" alt="img">
                <figcaption><a href="#"><span>Lorem ipsum</span></a></figcaption>
            </figure>
            <figure>
                <img src="/img/5.jpg" alt="img">
                <figcaption><a href="#"><span>Lorem ipsum</span></a></figcaption>
            </figure>
        </div>
        <div class="img-wrap">
            <figure>
                <img src="/img/6.jpg" alt="img">
                <figcaption><a href="#"><span>Lorem ipsum</span></a></figcaption>
            </figure>
            <figure>
                <img src="/img/7.jpg" alt="img">
                <figcaption><a href="#"><span>Lorem ipsum</span></a></figcaption>
            </figure>
        </div>
        <div class="img-wrap">
            <figure>
                <img src="/img/8.jpg" alt="img">
                <figcaption><a href="#"><span>Lorem ipsum</span></a></figcaption>
            </figure>
        </div>
    </div>
</div>
