@using EnglishApp.Models
@inject Context DbContext

@{
    Layout = "_Layout";
}

@Html.Partial("Main/Header")


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Персональный сайт - Главная страница</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Material+Icons|Cousine:400,700&amp;subset=cyrillic'
          rel='stylesheet' type='text/css'>

    <link type="text/css" rel="StyleSheet" href="/src/shop.css" />
    <style>




        font-face {
            font-family: "FontAwesome";
            font-style: normal;
            font-weight: normal;
            src: url("/.s/src/font/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("/.s/src/font/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("/.s/src/font/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("/.s/src/font/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("/.s/src/font/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
        }
    </style>

    <link type="text/css" rel="StyleSheet" href="/css/1806.css" />
    <script type="text/javascript">var currentPageIdTemplate = 'sitePage1';
        var currentModuleTemplate = 'index';</script>

    <link rel="stylesheet" href="/src/base.min.css" />
    <link rel="stylesheet" href="/src/layer7.min.css" />

    <script src="/src/jquery-1.12.4.min.js"></script>

    <script src="/src/uwnd.min.js"></script>
    <script type="text/javascript" src="//s22.ucoz.net/cgi/uutils.fcg?a=uSD&ca=2&ug=999&isp=0&r=0.245478800805277"></script>
    <script type="text/javascript">//------------UCOZ-JS-INIT_CODE-----------
        window.ulb = { photoPage: "Перейти на страницу с фотографией.", closeBtn: "Закрыть", error: "Запрошенный контент не может быть загружен. Пожалуйста, попробуйте позже.", next: "Следующий", prev: "Предыдущий", btnPlay: "Начать слайдшоу", btnToggle: "Изменить размер", };
        //------------UCOZ-JS-END-----------</script>

    <link rel="stylesheet" href="/src/ulightbox/ulightbox.min.css" />
    <script src="/src/ulightbox/ulightbox.min.js"></script>
    <script async defer src="https://www.google.com/recaptcha/api.js?onload=reCallback&render=explicit&hl=ru"></script>
    <script type="text/javascript">//------------UCOZ-JS-CODE-----------

        function reCallback() {
            $('.g-recaptcha').each(function (index, element) {
                element.setAttribute('rcid', index);

                if ($(element).is(':empty') && grecaptcha.render) {
                    grecaptcha.render(element, {
                        sitekey: element.getAttribute('data-sitekey'),
                        theme: element.getAttribute('data-theme'),
                        size: element.getAttribute('data-size')
                    });
                }

            });
        }
        function reReset(reset) {
            reset && grecaptcha.reset(reset.previousElementSibling.getAttribute('rcid'));
            if (!reset) for (rel in ___grecaptcha_cfg.clients) grecaptcha.reset(rel);
        }

        //------------UCOZ-JS-END-----------</script>

    <style type="text/css">





        .UhideBlock {
            display: none;
        }
    </style>
    <script type="text/javascript">//<!--
        function uSocialLogin(t) {
            var params = { 'vkontakte': { 'width': 790, 'height': 400 }, 'ok': { 'width': 710, 'height': 390 }, 'facebook': { 'width': 950, 'height': 520 }, 'yandex': { 'width': 870, 'height': 515 }, 'google': { 'width': 700, 'height': 600 }, 'twitter': { 'width': 800, 'height': 400 } };
            var ref = escape(location.protocol + '//' + ('ph-popovitch.ucoz.net' || location.hostname) + location.pathname + ((location.hash ? (location.search ? location.search + '&' : '?') + 'rnd=' + Date.now() + location.hash : (location.search || ''))));
            // var ref = escape(location.href);
            window.open('/' + t + '?ref=' + ref, 'conwin', 'width=' + params[t].width + ',height=' + params[t].height + ',status=1,resizable=1,left=' + parseInt((screen.availWidth / 2) - (params[t].width / 2)) + ',top=' + parseInt((screen.availHeight / 2) - (params[t].height / 2) - 20) + 'screenX=' + parseInt((screen.availWidth / 2) - (params[t].width / 2)) + ',screenY=' + parseInt((screen.availHeight / 2) - (params[t].height / 2) - 20));
            return false;
        }
//--></script>

    <link type="text/css" rel="stylesheet" href="/src/social.css" />
</head>
<body class="base">
    <div class="cont-wrap">
        <!--U1AHEADER1Z-->
        <header class="header">
            <div class="upper-container">
                <div class="header-container">
                    <div class="logo-wrap">
                        <a class="logo-lnk" href="https://ph-popovitch.ucoz.net/" title="Главная">Персональный сайт</a>
                    </div>
                    <div class="mobile-menu-list">
                        <div class="show-menu material-icons" id="show-menu">menu</div>
                    </div>
                    <div class="main-menu">
                        <nav id="catmenu">
                            <!-- <sblock_nmenu> -->
                            <!-- <bc> --><div id="uNMenuDiv1" class="uMenuV">
                                <ul class="uMenuRoot">
                                    <li><a class=" uMenuItemA" href="/"><span>Главная страница</span></a></li>
                                    <li><a href="/index/0-2"><span>Информация о сайте</span></a></li>
                                </ul>
                            </div><!-- </bc> -->
                            <!-- </sblock_nmenu> -->
                            <div class="clr"></div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!--/U1AHEADER1Z-->
        <!--U1PROMO1Z-->
        <div class="promo">
            <div class="photo">
                <img src="/img/main.jpg" alt="photo">
            </div>
            <div class="info-block">
                <div class="container">
                    <div class="text-block">
                        <p>Accusamus aliquam</p>
                        <h1>Lorem ipsum dolor</h1>
                    </div>
                </div>
            </div>
            <a href="#about-us" class="container-arr">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </a>
        </div>
        <div class="about-us" id="about-us">
            <div class="container">
                <h3 class="title">About us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis vel sem posuere imperdiet. Fusce varius nunc lectus, eget auctor metus maximus ac. Nullam lobortis enim eget quam iaculis, in malesuada diam convallis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam nulla sem, scelerisque in bibendum ac, sollicitudin ac diam. Maecenas in pharetra lectus, ut ultrices lacus. Pellentesque in sem nunc. Vestibulum gravida nunc bibendum leo aliquam, ac dignissim orci vehicula. Aenean posuere euismod tellus, ut tempus orci cursus at. Nullam magna neque, feugiat ut ipsum eget, convallis posuere quam.</p>
            </div>
        </div>
        <div class="gallery-wrap">
            <div class="container">
                <div class="img-wrap">
                    <figure>
                        <img src="/img/1.jpg" alt="img">
                        <figcaption><a href="#"><span>Lorem ipsum</span></a></figcaption>
                    </figure>
                    <figure>
                        <img src="/img/2.jpg" alt="img">
                        <figcaption><a href="#"><span>Lorem ipsum</span></a></figcaption>
                    </figure>
                </div>
                <div class="img-wrap">
                    <figure>
                        <img src="/img/3.jpg" alt="img">
                        <figcaption><a href="#"><span>Lorem ipsum</span></a></figcaption>
                    </figure>
                </div>
                <div class="img-wrap">
                    <figure>
                        <img src="/img/4.jpg" alt="img">
                        <figcaption><a href="#"><span>Lorem ipsum</span></a></figcaption>
                    </figure>
                    <figure>
                        <img src="/img/5.jpg" alt="img">
                        <figcaption><a href="#"><span>Lorem ipsum</span></a></figcaption>
                    </figure>
                </div>
                <div class="img-wrap">
                    <figure>
                        <img src="/img/6.jpg" alt="img">
                        <figcaption><a href="#"><span>Lorem ipsum</span></a></figcaption>
                    </figure>
                    <figure>
                        <img src="/img/7.jpg" alt="img">
                        <figcaption><a href="#"><span>Lorem ipsum</span></a></figcaption>
                    </figure>
                </div>
                <div class="img-wrap">
                    <figure>
                        <img src="/img/8.jpg" alt="img">
                        <figcaption><a href="#"><span>Lorem ipsum</span></a></figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <!--/U1PROMO1Z-->
        <!--U1BFOOTER1Z-->
        <footer>
            <div class="container clr">
                <div class="foot-l">
                    <div class="about-wrap">
                        <h6>About</h6>
                        <p>
                            Integer euismod lobortis lectus sed suscipit. Donec commodo et velit at tristique. Cras vitae
                            nunc porttitor nibh varius pellentesque nec in urna. Proin a neque non purus tincidunt
                            hendrerit. Sed magna mi, dapibus ultrices ultricies ut, accumsan in ante. Suspendisse a dui vel
                            felis fringilla porta. Mauris vulputate auctor enim vitae accumsan.
                        </p>
                    </div>
                    <div class="links-wrap">
                        <h6>Quick links</h6>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                        <a href="#">Link 4</a>
                        <a href="#">Link 5</a>
                    </div>
                    <p><!-- <copy> -->Copyright MyCorp &copy; 2020<!-- </copy> --></p>
                    <p><!-- "' --><span class="pb583Bu9"><a href="https://www.ucoz.ru/" title="Сайт создан при помощи uCoz" target="_blank" rel="nofollow">uCoz</a></span></p>
                </div>
                <div class="foot-r">
                    <div class="address-wrap">
                        <h6>Adress</h6>
                        <p>Donec imperdiet urna sem, ac interdum lorem tristique convallis.</p>
                    </div>
                    <div class="phones-wrap">
                        <h6>Phones</h6>
                        <a href="#">+1 (234) 567-8901</a>
                        <a href="#">+1 (234) 567-8901</a>
                    </div>
                    <div class="soc-wrap">
                        <h6>Follow us</h6>
                        <div class="soc-block">
                            <span><a href="https://vk.com" target="_blank" class="fa fa-vk"></a></span>
                            <span><a href="https://twitter.com" target="_blank" class="fa fa-twitter"></a></span>
                            <span><a href="https://facebook.com" target="_blank" class="fa fa-facebook"></a></span>
                            <span><a href="https://instagram.com" target="_blank" class="fa fa-instagram"></a></span>
                            <span><a href="https://plus.google.com" target="_blank" class="fa fa-google-plus"></a></span>
                            <span><a href="https://ok.ru/" target="_blank" class="fa fa-odnoklassniki"></a></span>
                        </div>
                    </div>
                    <div class="scrollup-block-right"><button id="scrollup" class="material-icons goOnTop">arrow_upward</button></div>
                </div>
            </div>
        </footer>
        <!--/U1BFOOTER1Z-->
    </div>

    <script src="/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
</body>
</html>

<div id="utbr8214" rel="s22"></div>
<!-- 0.0386200 (s22) -->