@using PhPopovich.Models
@inject Context DbContext
@model PhPopovich.ViewModels.Home.HomePageViewModel

@{
    Layout = "_Layout";
}

<div class="promo">
    <div class="photo">
        <img src="@Model.Page.ImageModel?.Url" alt="photo">
    </div>
    <div class="info-block">
        <div class="container">
            <div class="text-block">
                @Html.Raw(Model.Page.MainTitle)
            </div>
        </div>
    </div>
    <a href="#about" class="container-arr">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
    </a>
</div>

@await Html.PartialAsync("About", Model.AboutPageViewModel)

@await Html.PartialAsync("ServicesPage", Model.ServicesPageViewModel)

@await Html.PartialAsync("ProjectsPage", Model.ProjectsPageViewModel)

@await Html.PartialAsync("Order")

@await Html.PartialAsync("Contacts", Model.ContactsPageViewModel)