@using EnglishApp.Models
@inject Context DbContext

@{
    Layout = "_Layout";
}

@Html.Partial("Main/Header")

<div style="margin:25px; font-size:xx-large">

	<strong>Hi there! </strong> <br /> <br />

	How are you? <br />

	Go fun <br />

</div>
