@using PhPopovich.Models
@inject Context DbContext
@model PhPopovich.ViewModels.Projects.ProjectPageViewModel

@{
    Layout = "_LayoutGallery";
}

@if (Model.Page.Images.Count == 0)
{
    <table style="height: 600px" class="w-100">
        <tbody>
        <tr>
            <td class="align-middle text-center">
                <h2>
                    Пока тут ничего нет
                </h2>
            </td>
        </tr>
        </tbody>
    </table>
}
else
{

    <div class="site-wrap">

        <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
                @foreach (var image in Model.Page.Images)
                {
                    <div class="swiper-slide cover" style="background-image: url('@image?.Url');">
                        <a href="@image?.Url" data-fancybox="gallery" class="zoom">
                            <span class="icon-search"></span>
                        </a>
                        <div class="img-info">
                            <span class="btn-toggle-expand">
                                <span class="icon-call_made"></span>
                            </span>
                            <div class="img-info-content">
                                <h2>Интересный заголовок</h2>
                                <div class="scrollbar-inner style-scrollbar-sm js-scrollbar-container">
                                    <p class="mb-0">интересный текст</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
    
        <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
                @foreach (var image in Model.Page.Images)
                {
                    <div class="swiper-slide cover" style="background-image:url(@image.Url)"></div>
                }
            </div>
        </div>

    </div>
}

