@using PhPopovich.Models
@using PhPopovich.ViewModels.Common
@inject Context ContextDb
@inject Context Database
@{
    HeaderViewModel headerViewModel = null;
    FooterViewModel footerViewModel = null;

    if (Model is CommonPageViewModel commonPageViewModel)
    {
        headerViewModel = commonPageViewModel.HeaderViewModel;
        footerViewModel = commonPageViewModel.FooterViewModel;
    }
}

<!doctype html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>@headerViewModel?.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link href='https://fonts.googleapis.com/css?family=Material+Icons|Cousine:400,700&amp;subset=cyrillic' rel='stylesheet' type='text/css'/>
    <style>
        font-face {
            font-family: "FontAwesome";
            font-style: normal;
            font-weight: normal;
            src: url("/font/fontawesome-webfont.eot?#iefix&v=4.3.0") 
                 format("embedded-opentype"), 
                 url("/font/fontawesome-webfont.woff2?v=4.3.0") 
                 format("woff2"), 
                 url("/font/fontawesome-webfont.woff?v=4.3.0") 
                 format("woff"), 
                 url("/font/fontawesome-webfont.ttf?v=4.3.0") 
                 format("truetype"), 
                 url("/font/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") 
                 format("svg");
        }
    </style>

    <script type="text/javascript">
            let currentPageIdTemplate = 'sitePage1';
            let currentModuleTemplate = 'index';
    </script>
    
    <link type="text/css" rel="StyleSheet" href="/css/1806.css" />

    <link rel="stylesheet" href="/css/base.min.css" />
    <link rel="stylesheet" href="/css/layer7.min.css" />


    <link rel="stylesheet" href="/css/ulightbox.min.css" />

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    
</head>

<body class="base">

    <div class="cont-wrap">

        @await Html.PartialAsync("Header", headerViewModel)

        @RenderBody()

        @await Html.PartialAsync("Footer", footerViewModel)

            
        <script src="/js/ulightbox.min.js"></script>
        <script type="text/javascript" src="/lib/jQuery/dist/jquery.js"></script>
        <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/lib/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="/js/moment-with-locales.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/moment-with-locales.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
        
        <script src="/js/uwnd.min.js" ></script>
        
        <script src="/js/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
        
        <script type="text/javascript">
            $(document).ready(function() {
                $('.datetimepicker').datetimepicker({
                    locale: 'ru',
                    format: "DD.MM.YYYY"
                });
            });
        </script>
        
    </div>

</body>
</html>