@using PhPopovich.Models
@inject Context DbContext
@model PhPopovich.ViewModels.About.AboutPageViewModel

@{
    Layout = null;
}

<div class="about-us" id="about">
    <div class="container">
        <h3 class="title">Обо мне</h3>
        <p>@Html.Raw(Model.Page.AboutHtml)</p>
    </div>
</div>

