@model PhPopovich.ViewModels.Common.FooterViewModel

@{
    Layout = null;
}

<footer>

    <div class="container clr">

        <div class="foot-l">

            <div>

                <p>Copyright Catsoft &copy; @DateTime.Now.Year</p>

            </div>

        </div>

    </div>

</footer>
