@model PhPopovich.ViewModels.Common.HeaderViewModel

@{
    Layout = null;
}
<!--
<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <div class="nav-header">
                <a class="navbar-brand" href="/">@(Model.CompanyName)</a>
            </div>

            <span class="navbar-text navbar-left">
                @(Model.Title)
            </span>

        </div>
    </nav>
</header>
-->

<header class="header">
    <div class="upper-container">
        <div class="header-container">
            <div class="logo-wrap">
                <a class="logo-lnk" href="https://ph-popovitch.ucoz.net/" title="Главная">Персональный сайт</a>
            </div>
            <div class="mobile-menu-list">
                <div class="show-menu material-icons" id="show-menu">menu</div>
            </div>
            <div class="main-menu">
                <nav id="catmenu">
                    <!-- <sblock_nmenu> -->
                    <!-- <bc> --><div id="uNMenuDiv1" class="uMenuV">
                        <ul class="uMenuRoot">
                            <li><a class=" uMenuItemA" href="/"><span>Главная страница</span></a></li>
                            <li><a href="/index/0-2"><span>Информация о сайте</span></a></li>
                        </ul>
                    </div><!-- </bc> -->
                    <!-- </sblock_nmenu> -->
                    <div class="clr"></div>
                </nav>
            </div>
        </div>
    </div>
</header>