@inject Context DbContext
@using App.Models
@model App.Models.ProjectModel

@{
    Layout = null;
}

@if (Model != null)
{
    <figure>
        <img src="@Model.ImageModel.Url" alt="img">
        <figcaption>
            @* ReSharper disable once Html.PathError *@
            <a href="/Project?id=@Model.Id">
                <div class="w-100 text-center">
                    @Html.Raw(Model.About)
                    <p> Смотреть еще </p>
                </div>
            </a>
        </figcaption>
    </figure>
}
