@using PhPopovich.Models
@inject Context DbContext
@model PhPopovich.ViewModels.Projects.ProjectsPageViewModel

@{
    Layout = null;
}

<div class="about-us" id="projects">
    <div class="container">
        <h3 class="title">Мои работы</h3>
        <p>@Html.Raw(Model.Page.ServicesText)</p><br/>
    </div>
    
    @await Html.PartialAsync("Projects", Model.ProjectModels)

    <h4><strong>
        @Html.ActionLink("ВСЕ ПРОЕКТЫ", "Index", "AllProjects")
    </strong></h4>
</div>

